
.nav-container{
    display: flex;
    justify-content: space-around;
    background-color: rgb(121, 116, 116);
    /* padding: 15px; */
    align-items: center;
}
.nav-manu{
    list-style: none;
    display: flex;
    
    
    
}
.nav-manu li{
    margin-right: 23px;
    font-size: 25px;
    color: white;
}
li:hover{
    background-color: blue;
}
.banner{
    background-image: url("asset/image/background.jpg"), linear-gradient(rgb(81, 75, 75), rgb(55, 55, 50));
    background-blend-mode: overlay;
    background-size: cover;
    height: 100vh;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
.banner-description{
    text-align: center;
}
.banner-description p{
    width: 343px;
    margin: auto;
    color: white;
    font-size: 25px;
}
.banner-description h1{
    font-size: 50px;
    margin: 23px;
    color: white;
}
.banner-description span{
    color: rgb(239, 50, 21);
}
.btn{
    padding: 20px 20px 20px;
    margin-top: 12px;
    border: none;
    font-size: 18px;
    margin-right: 12px;
    border-radius: 4px;

}
.red{
    background-color: rgb(227, 46, 46);
    color: white;
}
.red:hover{
    background-color: beige;
}
.service-container{
    height: 100vh;
    background-image: url("asset/image/footer-bg.png"), linear-gradient(rgb(35, 31, 31), rgb(55, 55, 50));
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    
}
.service-left h1{
   font-size: 40px;

}
.all-box{
    display: flex;
}

.box1{
    background-color: white;
    width: 233px;
    height: 200px;
    color: black;
    text-align: center;
    padding: 20px;
    margin-right: 5px;
    margin-bottom: 5px;
    border-radius: 5px;
    
}
.icon{
    width: 122px;
    height: 100px;
}
.service-left span{
    color: red;
}
.profile{
    display: flex;
    
}
.profile-img{
    display: flex;
    align-items: center;
}.profile-img img{
    width: 100px;
    border-radius: 60px;
    margin-right: 14px;
    margin-top: 5px;
}
.profile,.btn .red{
height: 70px;
gap: 23px;
}
.contact{
    width: 800px;
    height: 150px;
    background-color: red;
    display: flex;
    padding: 15px;
    align-items: center;
    margin: auto;
    gap: 17px;
    color: white;
    border-radius: 5px;
    margin-top: -24px;
}
.phone img{
    width: 80px;
}
.phone{
    display: flex;
    gap: 13px
    ;
}
.phone p{
    
}
.contact-details{
    display: flex;
    gap: 25px
    ;
    
   
}

